

</body>

<footer>
  Designed by Aalyan Akmal 💜 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
Note : You can create your own list by adding your own list name at the end of url 
(e.g : https:// aalyan-todolist.cyclic.cloud/ [your own list name] 
</footer>

</html>
